.App {
    background-color: #82b7f767;
    background-image: url('https://thumbs.gfycat.com/BoringCarelessIridescentshark-size_restricted.gif');
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    margin-bottom: 1em; 
  }